.barbellChart {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.barbellTrack {
  position: absolute;
  width: calc(100% - 24px);
  height: 3px;
  background-color: #b8b8b8;
  border-radius: 3px;
  z-index: 0;
  left: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.barbellNode {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  border: 0.5px solid #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.barbellStartNode {
}

.barbellEndNode {
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.barbellConnectionLine {
  position: absolute;
  height: 4px;
  background-color: #5bc0de;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  border-width: 0;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.barbellNodeText {
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
}

.barbellEndNodeText {
  color: #fff;
  font-size: 9px;
  font-weight: bold;
  text-align: center;
}

.barbellNodeWide {
  width: 36px;
  border-radius: 12px;
}

.barbellNodeWide .barbellNodeText {
  font-size: 11px;
}

.barbellEndNodeWide {
  width: 32px;
  border-radius: 10px;
}

.barbellEndNodeWide .barbellEndNodeText {
  font-size: 10px;
}
